@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

:root{
    --color_page: #64D7D6;
    --color_sombra: rgba(27, 120, 119, 0.75);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

h1{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-boton_formulario{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.formulario{
    position: relative;
    width: 90%;
    border: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.grupo{
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grupo ul{
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.btn_crear{
    position: relative;
    width: 60%;
    height: 10%;
    color: #fff;
    background-color: var(--color_page);
    border: 1px solid var(--color_sombra);
    transition: all .3s;
}

.btn_crear:hover{
    background: rgb(2,0,36);
    background: linear-gradient(77deg, rgba(2,0,36,1) 0%, rgba(51,108,113,1) 100%);
}

.grupo ul{
    position: relative;
    width: 100%;
    display: flex;
    gap: 1em;
}

.grupo h3{
    color: var(--color_sombra);
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], 
input[type="number"]{
    width: 80%;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn_cambiar{
    background-color: transparent;
    color: var(--color_sombra);
    border: none;
}

.btn_cambiar:hover{
    text-decoration: underline;
}
